  {{!-- <!-- footer area start  -->
   <footer>
      <div class="bd-footer__top black-bg pt-165 pb-60">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="bd-footer__widget bd-footer__widget1 pr-5 mb-60">
                     <div class="bd-footer__title">
                        <h4>About Us</h4>
                     </div>
                     <div class="bd-footer__content">
                        <p>A print is a plot of land that is used to
                           grow crops and raise livestock, as in
                           our farm, we raise sheep and sell their
                           wool. The word farm is also used as a
                           verb to mean to work land.</p>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="bd-footer__widget bd-footer__widget1 pl-35 mb-60">
                     <div class="bd-footer__title">
                        <h4>Other Pages</h4>
                     </div>
                     <div class="bd-footer__link">
                        <ul>
                           <li><a href="about.html">About Us</a></li>
                           <li><a href="services.html">Services</a></li>
                           <li><a href="team.html">Our Team</a></li>
                           <li><a href="pricing.html">Pricing</a></li>
                           <li><a href="faq.html">FAQ & ANS</a></li>
                        </ul>
                        <ul>
                           <li><a href="about.html">Careers</a></li>
                           <li><a href="blog.html">News & Insights</a></li>
                           <li><a href="contact.html">Refund Policy</a></li>
                           <li><a href="contact.html">Terms & Conditions</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="bd-footer__widget bd-footer__widget1 pl-50 pr-40 mb-60">
                     <div class="bd-footer__title">
                        <h4>Get In Touch</h4>
                     </div>
                     <div class="bd-footer__contact">
                        <ul>
                           <li><a href="tel:0008888999">000 8888 999</a></li>
                           <li><a href="mailto:needhelp@example.com">needhelp@example.com</a></li>
                           <li><a href="https://www.google.com/maps/search/Humble+Tower,+NYC/@40.735596,-74.0092433,14z">88 New Street, Washington DC United States, America</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="bd-footer__widget bd-footer__widget1 pl-10 mb-60">
                     <div class="bd-footer__title">
                        <h4>Subscribe Us</h4>
                     </div>
                     <p class="mb-20">Subscribe us & receive our office
                        & update in your inbox directly</p>
                     <div class="bd-footer__form">
                        <input type="email" placeholder="Email address">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="bd-footer__bottom pt-20 black-bg-2">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-xl-4 col-lg-4 col-md-6">
                  <div class="bd-footer__copy-text mb-20">
                     <p>Copyright & Design By <a href="#"><b>@Bdevs</b></a> - 2022</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                  <div class="bd-footer__logo1 mb-20">
                     <a href="index-2.html"><img src="assets/img/logo/footer-logo.png" alt="footer logo"></a>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6">
                  <div class="bd-footer-social mb-20">
                     <ul>
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- footer area end  -->

   <!-- pre loader area start -->
   <div id="loading">
      <div id="loading-center">
         <div id="loading-center-absolute">
            <div class="loading-icon text-center d-flex flex-column align-items-center justify-content-center">
               <img src="assets/img/logo/logo-black.png" alt="Printpress">
               <img class="loading-logo" src="assets/img/logo/preloader.svg" alt="img">
            </div>
         </div>
      </div>
   </div>
   <!-- pre loader area end -->

   <!-- back to top start -->
   <div class="progress-wrap">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
         <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
   </div>
   <!-- back to top end --> --}}


   <!-- JS here -->
   <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
   <script src="assets/js/vendor/waypoints.min.js"></script>
   <script src="assets/js/bootstrap.bundle.min.js"></script>
   <script src="assets/js/meanmenu.js"></script>
   <script src="assets/js/swiper-bundle.min.js"></script>
   <script src="assets/js/owl.carousel.min.js"></script>
   <script src="assets/js/magnific-popup.min.js"></script>
   <script src="assets/js/parallax.min.js"></script>
   <script src="assets/js/backToTop.js"></script>
   <script src="assets/js/jquery-ui-slider-range.js"></script>
   <script src="assets/js/nice-select.min.js"></script>
   <script src="assets/js/counterup.min.js"></script>
   <script src="assets/js/ajax-form.js"></script>
   <script src="assets/js/wow.min.js"></script>
   <script src="assets/js/isotope.pkgd.min.js"></script>
   <script src="assets/js/imagesloaded.pkgd.min.js"></script>
   <script src="assets/js/main.js"></script>