<!-- banner area start  -->
<div class="banner-area banner-area1 pos-rel">
         <div class="swiper-container slider__active">
            <div class="swiper-wrapper">
               {{#each homeSlider }}
                <div class="swiper-slide" data-background="/assets/img/banner/banner-bg.png">
                  <div class="single-banner single-banner-1 banner-overlay-1 banner-835 d-flex align-items-center pos-rel">
                     <div class="banner-bg banner-bg1 banner-bg1-1" data-background="{{image}}">
                     </div>
                     <div class="container pos-rel">
                        <div class="row align-items-center">
                           <div class="col-xl-8 col-lg-7 col-md-8">
                              <div class="banner-content banner-content1 banner-content1-1 pt-40">
                                 <div class="banner-meta-text yellow-color" data-animation="fadeInUp" data-delay=".6s">
                                    <span>Welcome To Our Website</span>
                                 </div>
                                 <h1 class="banner-title white-color" data-animation="fadeInUp" data-delay=".8s">{{{title}}}</h1>
                                 <p class="banner-text" data-animation="fadeInUp" data-delay="1.0s">{{{description}}}</p>
                                 <div class="banner-btn one" data-animation="fadeInUp" data-delay="1.2s">
                                    <a class="theme-btn red" href="/contact">Make An Order <i class="fal fa-arrow-alt-right"></i></a>
                                    <a class="theme-btn yellow" href="/contact">How It Works <i class="fal fa-arrow-alt-right"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               {{/each}}
            </div>
         </div>
</div>