<main>

      <!-- Page Title Area Start  -->
      <section class="page-title-area breadcrumb-spacing" data-background="assets/img/breadcrumb/breadcrumb-img.jpg">
        <div class="container">
           <div class="row">
              <div class="col-xxl-9">
                 <div class="page-title-wrapper">
                    <h3 class="page-title mb-25">services</h3>
                    <div class="breadcrumb-menu">
                       <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                          <ul class="trail-items">
                             <li class="trail-item trail-begin"><a href="/"><span>Home</span></a></li>
                             <li class="trail-item trail-end"><span>services</span></li>
                          </ul>
                       </nav>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
      <!-- Page Title Area End  -->

      <!-- Services Three Area Start Here  -->
      <section class="bd-services3 grey-bg-3 pt-120 pb-90">
        <div class="container">
            <div class="row justify-content-center wow fadeInUp" data-wow-delay=".3s">
                <div class="col-lg-8">
                    <div class="bd-section__title mb-45 text-center">
                    <span class="bd__subtitle">Services</span>
                    <h2 class="bd__title">Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row wow fadeInUp" data-wow-delay=".5s">
                {{#each services}}
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="bd-services3__item bd-hover-top mb-30">
                    <div class="bd-services3__icon">
                        <img src="{{iconImage}}" alt="serivces icon">
                    </div>
                    <h3 class="bd-services3__title"><a href="/service/{{id}}">{{name}}</a></h3>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
      </section>
   </main>